/* .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
   */

   /* TestimonialCarousel.css */

/* Add your custom styles here */
.testimonial-card {
  max-width: 40.0rem;
  margin: 0 auto;
  padding: 2.0rem;
  background-color: #fff;
  border-radius: 1.0rem;
  box-shadow: 0 0 1.0rem rgba(0, 0, 0, 0.1);
  text-align: center;
}

.testimonial-message {
  font-size: 1.8rem;
  margin-bottom: 1.0rem;
}

.testimonial-author {
  font-weight: bold;
  margin-bottom: .5rem;
}

.testimonial-date {
  font-size: 1.4rem;
  color: #888;
}
